<div class="bg-primary">
  <div
    class="
      container-fluid
      d-flex
      align-items-center
      justify-content-between
      text-white
      py-2
      wrapper
    "
  >
    <h1 class="m-0">Abc Developers</h1>
    <div>
      <a class="text-decoration-none text-white mx-4" routerLink="/">Home</a>
      <button
        class="mx-4"
        routerLink="./assessment"
        id="basic"
        type="button"
        mat-raised-button
      >
        Take Assessment
      </button>
      <button
        class="ms-4"
        routerLink="./add"
        id="basic"
        type="button"
        mat-raised-button
      >
        Add Employee
      </button>
    </div>
  </div>
</div>
