<div class="wrapper my-4 pb-4">
  <h2 class="text-center">Employee selection ID</h2>
  <form [formGroup]="testFormProfile" (ngSubmit)="onSubmit()" action="">
    <div class="d-flex justify-content-center w-100">
      <mat-form-field class="w-50" appearance="outline">
        <mat-label>Select Employee ID</mat-label>
        <mat-select formControlName="employeeId">
          <!-- <mat-option *ngFor="let animal of animals" [value]="animal">
              {{animal.name}}
            </mat-option> -->
          <mat-option
            *ngFor="let employee of employeesName"
            value="{{ employee }}"
            >{{ employee }}</mat-option
          >
        </mat-select>
        <!-- <mat-error *ngIf="animalControl.hasError('required')"
            >Please choose an animal</mat-error
      > -->
      </mat-form-field>
    </div>
    <div
      *ngFor="let question of quizData['keys']"
      class="p-4 d-block quiz-q shadow my-4"
    >
      <mat-label class="d-block mb-2 fw-bold">{{
        quizData[question].question
      }}</mat-label>
      <mat-radio-group formControlName="{{ question }}">
        <mat-radio-button class="d-block m-2" value="1">
          {{ quizData[question]["options"][0] }}
        </mat-radio-button>
        <mat-radio-button class="d-block m-2" value="2">
          {{ quizData[question]["options"][1] }}
        </mat-radio-button>
        <mat-radio-button class="d-block m-2" value="3">
          {{ quizData[question]["options"][2] }}
        </mat-radio-button>
        <mat-radio-button class="d-block m-2" value="4">
          {{ quizData[question]["options"][3] }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="text-center">
      <button
        mat-raised-button
        class="bg-primary text-white"
        [disabled]="!testFormProfile.valid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
