<div class="wrapper">
  <!-- Title of Homepage -->
  <h1 class="text-center my-4">Employees List</h1>

  <!-- Search Bar for Employees-->
  <div class="text-center">
    <input
      type="text"
      placeholder="Search Employees"
      [(ngModel)]="search"
      (ngModelChange)="onChangeSearchData()"
      class="col px-2 search-bar"
    />
  </div>
  <!--    Employee Display Cards conationer    -->
  <div class="d-flex align-items-center justify-content-start flex-wrap">
    <div
      *ngFor="let employee of employees['keys']"
      class="col-4 py-3 px-2 employee-card"
    >
      <div class="d-flex shadow rounded-3 position-relative">
        <img
          class="m-2"
          src="../../../assets/images/profile.png"
          alt="img"
          width="150px"
        />
        <div class="p-2 pt-3">
          <p class="lh-sm"><b>Name : </b>{{ employees[employee].name }}</p>
          <p class="lh-sm"><b>Age : </b> {{ employees[employee].age }}</p>
          <p class="lh-sm">
            <b>Phone No. : </b> {{ employees[employee].phoneNumber }}
          </p>
          <p class="lh-sm">
            <b>Designation : </b> {{ employees[employee].designation }}
          </p>
          <p class="lh-sm">
            <b>Assessment score : </b> {{ employees[employee].score }}/10
          </p>
        </div>
        <div class="position-absolute top-0 end-0 h6 m-2">
          <a
            class="icons"
            (click)="editProfile(employees[employee])"
            routerLink="/edit-add"
          >
            <mat-icon inline="true">create</mat-icon>
          </a>
          <a (click)="openDialog(employee)" class="icons">
            <mat-icon inline="true">delete_outline</mat-icon>
          </a>
        </div>
      </div>
    </div>
    <!--   ng-template on No Data Available-->
    <ng-template [ngIf]="!employees['keys']">
      <p class="fs-2 w-100 mt-4 text-center">No data Avaliable</p>
      <div class="w-100 text-center mt-4">
        <button (click)="goToAddPage()" mat-button color="primary">
          Add New Employee
        </button>
      </div>
    </ng-template>
  </div>
</div>
