.search-bar {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline-color: transparent;
}

.search-bar:focus {
  outline-color: rgb(142, 160, 194);
}
.employee-card :hover {
  transform: scale(1.03);
  transition: ease 300ms;
  p,
  img,
  div,
  .icons {
    transform: none;
    transition: none;
  }
  .icons {
    visibility: visible;
    color: rgb(194, 206, 206);
  }
  .icons:hover {
    color: rgb(76, 82, 82);
  }
  .icons:last-child:hover {
    color: rgb(218, 34, 21);
  }
}
.icons {
  font-size: 20px;
  visibility: hidden;
  cursor: pointer;
}

.delete-popup {
  margin: 0 auto;
  width: 350px;
  height: 250px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px white;
}

.delete-popup-wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.158);
}
